
#youtubeLinkField, #youtubeActiveLink{
	text-align: center;
}
#adminPopcornWrapper{
	margin: 0 auto;
	width: 500px;
}
#adminPopcorn{
	width: 490px;
	margin: 0 auto;

}

#cancelChangeVideo{
	padding: 5px 10px;
}
#addVideoLinkBox, #initOptions, #updateVideoLinkBox{
	
	margin: 0 auto;
	width: 480px;
	padding: 15px;
	border: dotted 1px #666;
	margin-top: 15px;
}
#addVideoLinkBox h2, #initOptions h2,#updateVideoLinkBox h2{
	line-height: 21px;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
}
#addVideoLinkBox p, #initOptions p,#updateVideoLinkBox p{
	margin-top: 5px;
}
.videoTime{
	color: red;
}
.wp-editor-container{
	background-color: white;
	
}
#vidOutcomeLabel{
	float: left;
}

#outcomeList{

	width: 150px;
	margin: 0 auto;
	padding-right: 20px;
}
.colorSwatch{
	height: 50px;
	width: 50px;
	background-color: black;
}
.templatePreviewColInstance{
	float: left; 
	width: 100px;
}
.templatePreviewColName{
	min-height: 50px;  
	float: left;
	margin-left: 25px;
}
.templatePreviewColSwatch{
	height: 15px; 
	width: 20px; 
	margin-right: 20px;
}



.singleSubject{
	width: 130px;
	float: left;
	border: dotted 1px #666;
	margin: 10px;
	min-height: 186px;
}
.subjectAdd{
	
	margin: 50px 0 10px 10px;
	text-align: center;
	margin-left: 10px;
	width: 70%;
	display: block;
}
.singleSubjectInput{
	padding: 5px;
	margin-top: 40px;
	margin-left: 5px;
}
.subjectCancelAdd,.subjectRemove{
	color: red;
	font-size: 10px;
}
.singleSubjectPreview{
	margin-top: 10px;
}
.singleSubjectPreviewImg{
	max-height: 125px;
	max-width: 125px;
	display: block;
	margin: 0 auto;
}
.resourceInfo{
	float: left;
	margin-right: 30px;
	min-width: 180px;
}
#sourceTable{
	width: 100%;
	text-align: center;
	vertical-align: middle;
	border-collapse: collapse;
	
}
#sourceTable td{
	height: 20px;
	width: 50px;
	
}
#sourceTable th{
	padding-bottom: 5px;
}
#sourceTable tr{
	border-bottom: solid 1px #ddd;
}
#addSourceP,#updateSourceP{
	text-align: center;
	display: block;
	margin-top: 20px;
	padding-top: 5px;
	padding-bottom: 15px;
}
.submitResource{
	font-size: 25px;
}
#resourceListContainer{
	padding-top: 10px;
	width: 90%;
	margin: 0 auto;
}

.resourceListColumn{
	min-height: 100px;
	
	float: left;
}
.resourceListElement{
	padding: 10px;
}
.resourceInner{
	padding: 5px;
	background-color: white;
}
.resourceInner p{
	margin-top: 5px;
}






/*This is like display format.*/
.popcornLMBlockShell{
	padding: 5px 6px 6px 5px;
	position: relative;
	overflow: hidden;
}


.popcornLMBlockInner{
	padding: 10px;
	background-color: white;
	font-size: 13px;
	font-family: Arial, sans-serif;
	-moz-box-shadow: 3px 3px 4px #000;
		-webkit-box-shadow: 2px 2px 3px #000;
		box-shadow: 2px 2px 3px #000;
		/* For IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
		/* For IE 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}


.popcornLMBlockShell-none{
	border: solid 1px #999;
	background-color: white;
	
}
.popcornLMBlockShell-none .popcornLMBlockInner{
	border: solid 1px #ddd;
	-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;

		-ms-filter: none;
		
		filter: none;
}


.popcornLMBlockLabelLink{
	min-height: 26px;
	padding-bottom: 5px;
}
.popcornLMBlockLabelLink a{
	text-decoration: none;
}
.popcornLMBlockTime{
	font-size: 11px;
	color: black;
	font-weight: normal;
	font-style: italic;
}

.popcornLMBlockInner h4{

	margin-top: 0px;
	font-size: 14px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	
}
.popcornLMBlockTitleInner{
	border-bottom: solid 1px #999;
	margin-bottom: 2px;
	display: block;
}
.popcornLMBlockTitle{
	display: block;
	margin-bottom: 5px;
	
	
}
.popcornLMBlockInner p{
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 15px;
}

.popcornLMBlockInner h6{
	margin-bottom: 5px;
	font-size: 13px;
}
.popcornLMBlockInner ul{
	margin-bottom: 5px;
	margin-left: 25px;
}

.popcornLMBlockInner ul li{
	list-style-type: square;
	line-height: 1em;
	font-size: 14px;
	padding-bottom: 7px;
}
.popcornLMBlockInner .popcornLMSourceType{
	display: block;
	font-size: 13px;
	font-style: italic;
}
.popcornLMBlockExpand, .popcornLMBlockCollapse,.popcornLMBlockEditLinks{
	display: block;
	
	float: left;
}
.popcornLMHiddenLabel{
	text-align: right;
	margin-right: 5px;
	padding-top: 0px;
	margin-top: 0px;
	font-weight: bold;
	font-style: italic;
	font-size: 16px;
	color: #666;
	letter-spacing: .11em;
	
	margin-bottom: 0px;
	display: block;

}
.popcornLMBlockInner img{
	/*max-width: 80%;*/
}

#popcornupdateinfobody,#popcorninfobody{
	height: 300px;
}
.singleSource, .updateSingleSource{
	
	display: block;
	margin: 0 auto;
	padding: 5px;
	width: 95%;
	float: none;
}
.singleSourcePreview{
	margin-bottom: 5px;
	border-bottom: dotted 1px #666;
	padding-bottom: 5px;
}





